<p>Thanks for being a part of this amazing experience.</p>
<p>To access <%= @userdetail.firstname %>'s link <%= link_to "click here", @user_url %>.</p>

<br/>
From<br/>
<%= @userdetail.firstname %><br/>
<%= link_to "edildo.me", "http://edildo.me" %>
